main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

main .input-group{
    width: 40%;
    min-width: 300px;
}

.error{
    margin: 1rem;
    color: red;
}

